@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');

$main-font: "Baloo 2";
$primary-color: #121f3c;
$secundary-color: #eff3f8;
$tertiary-color: #98ca3f;
$quaternary-color: #516585;
$quinary-color: #03091e;